body {
    margin: 10px;
    background-color: white;
}

/* utility class */
.flex {
    display: flex;
}
.flex--column {
    flex-direction: column;
}
.flex--jcenter {
    justify-content: center;
}
.flex--jbetween {
    justify-content: space-between;
}
.flex--icenter {
    align-items: center;
}

.font--bold {
    font-weight: bold;
}
.font--white {
    color: #fafafa;
}

.width--100 {
    width: 100%;
}
/* utility class */

.one {
    background-color: #2c8bdb;
    width: 49%;
}
.two {
    background-color: #d3455b;
    width: 100%;
}
.three {
    background-color: #89795f;
    width: 49%;
}
.four {
    background-color: #ab6364;
    width: 49%;
}
.five {
    background-color: #720fc2;
    width: 100%;
}
.six {
    background-color: #1aae9e;
    width: 100%;
}
.seven {
    background-color: #207868;
}
.eight {
    background-color: #6658f5;
    width: 100%;
}
.nine {
    background-color: #4b5d6b;
    width: 100%;
}

.two, .three, .four {
    height: 120px;
}
.five, .nine {
    height: 80px;
}
.six, .eight {
    height: 140px;
}
.seven {
    width: 35%;
    margin: 0 12px;
}
.five, .eight {
    margin: 0 0 12px;
}
.six, .nine {
    margin: 12px 0 0;
}

.column__1, .column__2 {
    display: flex;
    justify-content: space-between;
}
.column__2 :nth-child(1) { order: 2; }
.column__2 :nth-child(2) { order: 1; }
.column__2 :nth-child(3) { order: 3; }

.col__wrapper {
    width: 49%;
}
.col__wrapper1 {
    margin: 12px 0 0;
}

.column__2 {
    padding: 12px 0;
}
.col__wrapper2 {
    width: 31%;
}

@media only screen and (max-width: 600px) {
    .one {
        width: 100%;
        margin: 0;
    }
    .two, .seven {
        margin: 12px 0 0 0;
    }
    .five, .six, .eight, .nine {
        margin: 12px 0;
    }
    .one, .two, .three, .four, .five, .six, .seven, .eight, .nine {
        height: 80px;
    }
    .three, .four {
        margin: 0;
    }
    .five, .six, .eight, .nine {
        width: 100%;
    }
    .seven {
        width: 100%;
        margin: 0;
    }

    .column__1 {
        display: flex;
        flex-direction: column;
    }
    .col__wrapper {
        width: 100%;
    }
    .col__wrapper1 {
        flex-direction: row-reverse;
    }
    .col__wrapper :nth-child(1) { order: 2; }
    .col__wrapper :nth-child(2) { order: 1; }

    .column__2 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .col__wrapper2 {
        width: 49%;
    }
    .column__2 :nth-child(1) { order: 1; }
    .column__2 :nth-child(2) { order: 2; }
    .column__2 :nth-child(3) { order: 3; }
}